.ajax-load-more .cnkt-sidebar {
	width: 30%;
	float: right;
	padding: $padding;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	@media screen and (max-width: 900px) {
		padding-left: 0;
		padding-right: 0;
	}
	.major-publishing-actions {
		padding: $padding_sm;
		clear: both;
		border-top: 1px solid $border;
		box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.025);
		background: $light_grey;
		border-radius: 0 0 2px 2px;
		i {
			opacity: 0.4;
			margin: 0 2px 0 0;
		}
	}
}
