.alm-settings-feedback {
	position: fixed;
	top: 50px;
	right: 10px;
	width: auto;
	height: auto;
	background: #fff;
	border-left: 5px solid #5cc583;
	color: #444;
	padding: 25px 30px 25px 25px;
	line-height: 1;
	z-index: 9999;
	border-radius: 2px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease-in-out;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	font-size: 13px;
	&.--saving {
		border-color: #e0bd5e;
		opacity: 1;
		visibility: visible;
		top: 50px;
		right: 25px;
	}
	&.--saved {
		opacity: 1;
		visibility: visible;
		top: 50px;
		right: 25px;
		i {
			opacity: 1;
			color: #5cc583;
		}
	}
	&.--error {
		border-color: #e03e3e;
		opacity: 1;
		visibility: visible;
		top: 25px;
		right: 25px;
	}
	i {
		opacity: 0.6;
		margin: 0 3px 0 0;
	}
}

#alm_OptionsForm {
	position: relative;
	.save-in-progress {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background: rgba(255, 255, 255, 0.65);
		transition: all 0.2s ease;
		opacity: 0;
		visibility: hidden;
	}
	&.--saving {
		.save-in-progress {
			opacity: 1;
			visibility: visible;
			cursor: wait !important;
		}
	}
}
