.ajax-load-more{
	.alm-cta-upgrade{
		padding: 5px;
		border: 1px solid $border;
		border-radius: $radius;
		background-color: #fff;
		a{
			text-decoration: none;
			width: 100%;
			text-align: center;
			border-radius: $radius;
			overflow: hidden;
			@media screen and (min-width: $tablet) {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				padding: $padding;
				background: $light_grey;
				background: linear-gradient(90deg, rgba(255,255,255,0.4948354341736695) 50%, rgba(247,247,247,1) 100%);

				text-align: left;
			}
			&:hover,
			&:focus{
				h2{
					text-decoration: underline;
				}
				.cnkt-button {
					background-color: $purple_hover;
				}
			}
			.img{
				width: 100%;
				display: flex;
				justify-content: center;
				img {
					padding: $padding_sm;
				}
				@media screen and (min-width: $tablet){
					width: 50%;
					img {
						padding: $padding_sm 0;
					}
				}
				@media screen and (min-width: $lg){
					width: 45%;
				}
			}
			.details {
				width: 100%;
				background-color: $light_grey;
				padding: $padding $padding_lg;
				@media screen and (min-width: $tablet){
					width: 50%;
					background-color: transparent;
				}
				@media screen and (min-width: $lg){
					width: 55%;
				}
				@media screen and (min-width: $tablet) and (max-width: $lg){
					p.lg{
						display: none;
					}
				}
				h2 {
					font-size: 20px;
				}
			}
			.cnkt-button{
				padding: 12px 24px;
				text-align: center;
				margin-top: 10px;
				font-size: 14px;
			}
		}
	}
}
