// License.
.ajax-load-more {
	.license {
		overflow: hidden;
		margin: 0;
		display: block;
		padding: calc($padding/2) 0 0;
		position: relative;
		&:first-of-type {
			padding: 10px 0 0;
		}
		.license-title {
			border-radius: $radius $radius 0 0;
			padding: $padding_sm;
			border: 1px solid $border;
			background-color: $light_grey;
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			.status {
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background: $red;
				box-shadow: 0 0 0 3px rgba($red, 0.2);
				margin-right: 10px;
				&.valid {
					background-color: $green;
					box-shadow: 0 0 0 3px rgba($green, 0.2);
				}
			}
			h3 {
				margin: 0;
				padding: 0;
				font-size: 15px;
				font-weight: 600;
				line-height: 1;
			}
			.fa.tooltip {
				top: 0;
				margin-left: auto;
			}
		}
		label {
			font-size: 400;
			font-size: 14px;
		}
		.cnkt-button {
			position: absolute;
			top: 9px;
			right: 15px;
			padding: 5px 7px !important;
		}
		a.cnkt-button.installed {
			background-color: none !important;
			box-shadow: none !important;
			border-color: transparent !important;
		}
		.no-license {
			display: block;
			padding: 12px;
			margin: 0 0 $padding_sm;
			border: 1px solid #e7e7c6;
			background-color: #ffffe5;
			border-radius: $radius;
			h4 {
				margin: 0 0 3px;
			}
			p {
				margin: 5px 0 0;
				padding: 0;
			}
		}

		.loading {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.6) url('../img/ui/loader.gif') no-repeat center center;
			z-index: 9;
			display: none;
		}
		.license-btn.hide,
		.renew-btn.hide {
			display: none;
		}
		.license-btn-wrap {
			display: flex;
			width: 100%;
			align-items: center;
			gap: 6px;
			.msg {
				display: block;
				padding: 15px 0 0;
				font-size: 14px;
				line-height: 24px;
				position: relative;
				top: 4px;
				strong {
					display: block;
				}
				em {
					opacity: 0.7;
					font-style: normal;
				}
			}
		}

		.license-wrap,
		.license-no-addons {
			overflow: hidden;
			display: block;
			padding: 18px 15px;
			border: 1px solid $border;
			border-top: none;
			background-color: #fff;
			border-radius: 0 0 $radius $radius;
		}
		.license-wrap {
			label {
				font-weight: 600;
				top: -3px;
			}
			input[type='text'],
			input[type='password'] {
				margin: 0;
				width: 100% !important;
				padding: $padding_sm;
				min-height: 0;
				border-color: $border;
				line-height: 1;
				&[disabled] {
					color: #ccc;
					cursor: not-allowed;
				}
				&:focus {
					border-color: $border_hover;
				}
			}
			.button-primary {
				margin-right: 10px;
			}
		}
		.license-key-field {
			position: relative;
			display: block;
			margin: 0 0 $padding_sm;
		}
		.license-key-field .status {
			position: absolute;
			right: $padding_sm;
			top: 50%;
			transform: translateY(-50%);
			display: inline-block;
			border-radius: $radius;
			padding: 5px 8px;
			line-height: 1;
			color: #fff;
			cursor: default;
			font-weight: 400;
			font-size: 12px;
		}
		.license-key-field .status.active {
			background-color: $green;
			box-shadow: 0 0 0 3px rgba($green, 0.2);
		}
		.license-key-field .status.inactive {
			background-color: $red;
			box-shadow: 0 0 0 3px rgba($red, 0.2);
		}

		.ajax-load-more .alm-nav {
			font-size: 600;
			font-size: 14px;
			margin: 0 !important;
			padding: 5px 0 5px;
		}
		.ajax-load-more .alm-nav a {
			display: inline-block;
		}

		.license-no-addons {
			border: 1px solid #bad0da;
			border-radius: $radius;
			background-color: #e0f5ff;
		}
		.license-no-addons p {
			margin: 0;
			padding: 0;
		}
	}
}
