/* Template Tags */
.ajax-load-more {
	.template-tags {
		overflow: hidden;
		border-left: 5px solid #dfd8c2;
		padding: 15px;
		background: #fff9ea;
		margin: 20px 0 0;
		border-radius: 3px;
		h4,
		li {
			margin: 0 0 8px;
			padding: 0;
			font-size: 13px;
			text-decoration: none !important;
		}
		li {
			margin: 5px 0 !important;
			width: 100% !important;
			padding: 0 !important;
			border-radius: $radius;
			line-height: 1.25;
		}
		ul {
			margin: 0;
			padding: 0;
		}
		pre {
			display: inline-block;
			min-width: 120px;
			padding: 0;
			margin: 0;
			color: #888;
		}
	}
}
