
// Toggle Switch.
.ajax-load-more {
	.alm-toggle-switch {
		display: flex;
		clear: both;
		margin: 0;
		padding: 2px $padding_sm 0;
		overflow: hidden;
		position: relative;
		top: 1px;
		z-index: 9;
		width: 100%;
		li {
			margin: 0 5px 0 0;
			padding: 0;
			background: none;
			list-style: none;
			a {
				display: block;
				padding: $padding_sm $padding;
				line-height: 1;
				text-decoration: none;
				border: 1px solid $border;
				border-radius: 4px 4px 0 0;
				background: $light_grey;
				color: $grey;
				&:hover,
				&:focus {
					color: $grey;
					background-color: #fff;
				}
				&.active {
					background: #fff;
					font-weight: 600;
					border-bottom-color: #fff;
					color: $grey;
				}
			}
		}
	}
}
