$gutter: 25px;
$padding: 15px;
$grey: #555;
$green: #8ed074;
$green_hover: #57bda4;
$yellow: #ffffe8;
$yellow_dark: #e4e4c8;
$red: #e06464;
$light_grey: #f7f7f7;
$light_border: #f1f1f1;
$grey_blue: #f8f9fb;
$border: #e1e1e1;
$border_hover: #ccc;
$radius: 3px;

$small: 480px;
