/*
 * WordPress Ajax Load More
 * https://github.com/dcooney/wordpress-ajax-load-more
 *
 * Copyright 2014 Connekt Media - http://cnkt.ca/ajax-load-more/
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Author: Darren Cooney
 * Twitter: @KaptonKaos
*/

button#load-more{	
   width:auto;
   font-size:16px !important;
   font-size:1.6rem !important;
   line-height: 1em;
   font-weight: 600;
   border: none;
   margin-bottom: 4px;
   display: inline-block;		
   position: relative;
   -webkit-transition: padding 0.25s ease-in-out;
   -moz-transition: padding 0.25s ease-in-out;
   transition: padding 0.25s ease-in-out;
   background: #383C40;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   line-height: 42px;
   padding:0 20px;
   color:#fff;
   text-align: center;	
   height: 42px;
   text-decoration: none !important;
   border: none;
   -webkit-appearance: caret;
}
	button#load-more:hover{
		background-color: #647383;
		color: #fff;
		text-decoration: none;
	}
	button#load-more:active{
		-webkit-box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 4px 3px rgba(0, 0, 0, 0.15);
		text-decoration: none !important;
	}
	
	/* Loading */
    button#load-more.loading{
    	padding-left: 42px;
    }
    /* Loaded / Done */
	button#load-more.done{
		cursor: default;
        opacity: 0.2;
        filter: alpha(opacity=20); 
		background-color: #4e5760; 
    }
    
    /* Loading Icon */
	button #load-more:before,
	button#load-more.done:before{                
		background: none;
		width: 0;
	}
	
	button#load-more.loading:before {
      background: #fff url(../img/ajax-loader.gif) no-repeat center center;
      width: 30px;
      height: 30px;
      margin: 5px;		
      -webkit-border-radius:3px;
      -moz-border-radius:3px;
      border-radius:3px;
      display: inline-block;
      z-index: 100;
      content: '';
      position: absolute;
      left: 0;
      overflow: hidden;
      -webkit-transition: width 0.5s ease-in-out;
      -moz-transition: width 0.5s ease-in-out;
      transition: width 0.5s ease-in-out;
	}
	
.load-more-btn-wrap{
	text-align:center;
	padding:10px 10px 30px;
	overflow: hidden;
	display: block;
}


/* Generic Listing Styles */

ul.listing{
	margin: 0 0 10px 0;
	padding: 0;
}
	ul.listing li{
		margin: 0 50px 10px;
		overflow: hidden;
		padding: 20px 20px 20px 190px;
		position: relative;
	}
		ul.listing li:after{
			width: 50px;
			height: 1px;
			display: block;
			background: #efefef;
			content: '';
			position: absolute;
			left: 20px;
			bottom: 0;
		}					
		ul.listing li a{
			color: #34383D;
		}
		ul.listing li p{
			margin: 0;
		}
		ul.listing li h3{
			margin: 0 0 10px;
		}
		ul.listing li img{
			position: absolute;
			left: 20px;
			top: 20px;			
		   -webkit-border-radius:3px;
		   -moz-border-radius:3px;
		   border-radius:3px;
		}	
			
		