.alm-btn-wrap {
	display: block;
	text-align: center;
	padding: 10px 0;
	margin: 0 0 15px;
	position: relative;
	&:after {
		display: table;
		clear: both;
		height: 0;
		width: 100%;
		content: '';
	}
	.alm-load-more-btn {
		font-size: 15px;
		font-weight: 500;
		width: auto;
		height: 43px;
		line-height: 1;
		background: #ed7070;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		color: #fff;
		border: none;
		border-radius: 4px;
		margin: 0;
		padding: 0 20px;
		display: inline-block;
		position: relative;
		transition: all 0.3s ease;
		text-align: center;
		text-decoration: none;
		appearance: none;
		user-select: none;
		cursor: pointer;
		&:hover,
		&.loading {
			background-color: #e06161;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09);
			color: #fff;
			text-decoration: none;
		}
		&:active {
			box-shadow: none;
			text-decoration: none;
		}

		/* Loading */
		&.loading {
			cursor: default;
			outline: none;
			padding-left: 44px;
		}

		/* Loaded / Done */
		&.done {
			cursor: default;
			opacity: 0.15;
			background-color: #ed7070;
			outline: none !important;
			box-shadow: none !important;
		}

		/* Loading Icon */
		&:before,
		&.done:before {
			background: none;
			width: 0;
		}

		/* Loading :before */
		&.loading:before {
			background: #fff url('../../img/ajax-loader.gif') no-repeat center center;
			width: 30px;
			height: 31px;
			margin: 6px;
			border-radius: 3px;
			display: inline-block;
			z-index: 0;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			overflow: hidden;
			transition: width 0.5s ease-in-out;
		}
	}

	.alm-elementor-link {
		display: block;
		font-size: 13px;
		margin: 0 0 15px;
		@media screen and (min-width: $md) {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
		}
	}
}

/* white */
.ajax-load-more-wrap.white .alm-load-more-btn {
	background-color: #fff;
	color: #787878;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	transition: none;
	outline: none;
	&:focus,
	&:hover,
	&.loading {
		background-color: #fff;
		color: #333;
		border-color: #aaaaaa;
	}
	&.done {
		background-color: #fff;
		color: #444;
		border-color: #ccc;
	}
	&.loading {
		color: rgba(255, 255, 255, 0) !important;
		outline: none !important;
		background-color: transparent;
		border-color: transparent !important;
		box-shadow: none !important;
		padding-left: 20px;
		&:before {
			margin: 0;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: url('../../img/ajax-loader-lg.gif');
			background-size: 25px 25px;
			background-position: center center;
		}
	}
}

/* light grey */
.ajax-load-more-wrap.light-grey .alm-load-more-btn {
	background-color: #efefef;
	color: #787878;
	border: 1px solid #e0e0e0;
	overflow: hidden;
	transition: all 0.075s ease;
	outline: none;
	&:focus,
	&:hover,
	&.loading,
	&.done {
		background-color: #f1f1f1;
		color: #222;
		border-color: #aaaaaa;
	}
	&.loading {
		color: rgba(255, 255, 255, 0) !important;
		outline: none !important;
		background-color: transparent;
		border-color: transparent !important;
		box-shadow: none !important;
		padding-left: 20px;
		&:before {
			margin: 0;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			background-image: url('../../img/ajax-loader-lg.gif');
			background-size: 25px 25px;
			background-position: center center;
		}
	}
}

/* Blue */
.ajax-load-more-wrap.blue .alm-load-more-btn {
	background-color: #1b91ca;
	&:hover,
	&.loading,
	&.done {
		background-color: #1b84b7;
	}
}

/* green */
.ajax-load-more-wrap.green .alm-load-more-btn {
	background-color: #80ca7a;
	&:hover,
	&.loading,
	&.done {
		background-color: #81c17b;
	}
}

/* purple */
.ajax-load-more-wrap.purple .alm-load-more-btn {
	background-color: #b97eca;
	&:hover,
	&.loading,
	&.done {
		background-color: #a477b1;
	}
}

/* grey */
.ajax-load-more-wrap.grey .alm-load-more-btn {
	background-color: #a09e9e;
	&:hover,
	&.loading,
	&.done {
		background-color: #888;
	}
}

/* Infinite */
.ajax-load-more-wrap.infinite {
	> .alm-btn-wrap {
		.alm-load-more-btn {
			width: 100%;
			background-color: transparent !important;
			background-position: center center;
			background-repeat: no-repeat;
			background-image: url('../../img/spinner.gif');
			border: none !important;
			opacity: 0;
			transition: opacity 0.2s ease;
			box-shadow: none !important;
			overflow: hidden;
			text-indent: -9999px;
			cursor: default !important;
			outline: none !important;
			&:before {
				display: none !important;
			}
			&:focus,
			&:active {
				outline: none;
			}
			&.done {
				opacity: 0;
			}
			&.loading {
				opacity: 1;
			}
		}
	}
	&.skype > .alm-btn-wrap .alm-load-more-btn {
		background-image: url('../../img/spinner-skype.gif');
	}
	&.ring > .alm-btn-wrap .alm-load-more-btn {
		background-image: url('../../img/spinner-ring.gif');
	}
	&.fading-blocks > .alm-btn-wrap .alm-load-more-btn {
		background-image: url('../../img/loader-fading-blocks.gif');
	}
	&.fading-circles > .alm-btn-wrap .alm-load-more-btn {
		background-image: url('../../img/loader-fading-circles.gif');
	}
	&.chasing-arrows > .alm-btn-wrap .alm-load-more-btn {
		background-image: url('../../img/spinner-chasing-arrows.gif');
	}
}

/// Horizontal
.ajax-load-more-wrap.alm-horizontal {
	.alm-btn-wrap {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
		button {
			margin: 0;
			&.done {
				display: none;
			}
		}
	}
}
